<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>Dojos</title>
</head>
<body>
    <h1>A form!</h1>
    <form action="">
        Name:<input type="text" name="name">
        Anything else?<input type="textarea" name="other_stuffs">
    </form>
</body>
</html>